@page "/country/create"
@page "/country/edit/{CountryCode}"
@using DevShop.Data
@inject IUnitOfWork uow
@inject NavigationManager nav
@attribute [Authorize(Roles = "7")]
@layout ManagementLayout



<h1 class="bm18">Countries</h1>
@if (country != null)
{
    <div id="managementSelectBox">
        @if (dropDownList != null && dropDownList.Count > 0)
        {
            <select @onchange="@((e) => ChangeCountry(e))">
                <option value="0">Please select a country</option>
                @foreach (var _elem in dropDownList)
                {
                    @if (_elem.Value == country.CountryCode)
                    {
                        <option value="@_elem.Value" selected>@_elem.DisplayName</option>
                    }
                    else
                    {
                        <option value="@_elem.Value">@_elem.DisplayName</option>
                    }
                }
            </select>
        }
        
        <div class="hide650">
            <br><br>
            <a class="mIcon iconNew backSignalColor hoverBackDarkSignalColor" href="./country/create"></a>
        </div>
    </div><div id="managementOutputBox" class="lp18">
        <EditForm Model="country" OnValidSubmit="Save" OnInvalidSubmit="Error">
            @if (!string.IsNullOrEmpty(errorMessage.Value))
            {
                <b class="dangerColor">@errorMessage</b>
                <br /><br />
            }

            @if (isEdit)
            {
                <div class="bm9">
                    @country.CountryCode
                </div>
            }
            else
            {
                <input class="bm5" type="text" placeholder="AT" maxlength="3" pattern="[A-Z]{2,3}" @bind="country.CountryCode"/><br />
            }

            <input type="text" placeholder="Austria" @bind="country.CountryName" />
            <br /><br />

            <a class="show650 mIcon iconNew backSignalColor hoverBackDarkSignalColor rm18" href="./country/create"></a><input class="mIcon iconSave backSignalColor hoverBackDarkSignalColor rm9" type="submit" value="">
            @if (isEdit)
            {
                <input class="mIcon iconDelete backDangerColor hoverBackDarkDangerColor" type="button" value="" @onclick="@(() => Delete())">
            }
        </EditForm>
    </div>
}
else
{
    <span>
        Loading ...
    </span>
}