@page "/company"
@using DevShop.Data
@inject IUnitOfWork uow



<h3>CompanyView</h3>


@if (companies != null && companies.Count > 0)
{
    @foreach (var _comp in companies)
    {
        <ul>
            <li>
                @_comp.CompCode
            </li>
            <li>
                @_comp.CompName
            </li>
            <li>
                @_comp.CompAddName
            </li>
            <li>
                @_comp.CompDescr
            </li>
            <li>
                @_comp.Tel
            </li>
            <li>
                @_comp.Mail
            </li>
            <li>
                @_comp.Website
            </li>
        </ul>
    }
}