@page "/city"
@page "/city/{CountryCode}"
@page "/city/{CountryCode}/{StateID}"
@using DevShop.Data
@inject IUnitOfWork uow
@inject NavigationManager nav
@attribute [Authorize(Roles = "7")]
@layout ManagementLayout



<h1 class="bm18">Cities</h1>
@if (countries != null)
{
    @if (countries.Count == 0)
    {
        <div>
            No country has been found.<br>
            Please click <a class="bold primaryColor" href="./country/create">here</a> to create a new country before proceeding.
        </div>
    }
    else
    {
        <div id="managementSelectBox">
            <select class="bm9" @onchange="@((e) => ChangeCountry(e))">
                <option value="0">Please select a country</option>
                @foreach (var _country in countries)
                {
                    @if (selCountry != null && !countryChanged && _country.CountryCode == selCountry.CountryCode)
                    {
                        <option value="@_country.CountryCode" selected>@_country.CountryName</option>
                    }
                    else
                    {
                        <option value="@_country.CountryCode">@_country.CountryName</option>
                    }
                }
            </select>
            @if (states != null)
            {
                @if (states.Count > 0)
                {
                    <select class="bm9" @onchange="@((e) => ChangeState(e))">
                        <option value="0">Please select a state</option>
                        @foreach (var _state in states)
                        {
                            @if (selState != null && !stateChanged && _state.StateId == selState.StateId)
                            {
                                <option value="@_state.StateId" selected>@_state.StateName</option>
                            }
                            else
                            {
                                <option value="@_state.StateId">@_state.StateName</option>
                            }
                        }
                    </select>
                    @if (cities != null)
                    {
                        @if (cities.Count > 0)
                        {
                            <select @onchange="@((e) => ChangeCity(e))">
                                <option value="0">Please select a city</option>
                                @foreach (var _city in cities)
                                {
                                    <option value="@_city.Zip">@_city.CityName</option>
                                }
                            </select>
                        }
                    }
                }
                else
                {
                    <div>
                        No state has been found.<br>
                        Please select a different country or click <a class="bold primaryColor" href="./state/create">here</a>, to create a new state.
                    </div>
                }
            }
            <br /><br />
            <a class="mIcon iconNew backSignalColor hoverBackDarkSignalColor" href="./city/create"></a>
        </div>
    }
}
else
{
    <span>
        Loading ...
    </span>
}