@page "/product-group/create"
@page "/product-group/edit/{CompCode}/{ProductGroupNr}"
@using DevShop.Data
@inject IUnitOfWork uow
@inject TreeBuilder treeBuilder
@inject NavigationManager nav
@inject FileManager fileManager
@attribute [Authorize(Roles = "7")]
@layout ManagementLayout



<h1 class="bm18">Product-Groups</h1>
@if (companies != null)
{
    @if (companies.Count > 0)
    {
        <div id="managementSelectBox" class="selectTree">
            <select class="bm9" @onchange="@((e) => ChangeCompany(e))">
                <option value="0">Please select a company</option>
                @foreach (var _company in companies)
                {
                    @if (!string.IsNullOrEmpty(CompCode) && _company.CompCode == CompCode)
                    {
                        <option value="@_company.CompCode" selected>@_company.CompCode.Substring(0, 2) - @_company.CompName</option>
                    }
                    else
                    {
                        <option value="@_company.CompCode">@_company.CompCode.Substring(0, 2) - @_company.CompName</option>
                    }
                }
            </select>
            @if (!string.IsNullOrEmpty(treeViewMarkup.Value))
            {
                @treeViewMarkup
            }
            <div class="hide650">
                <br /><br />
                <a class="mIcon iconNew backSignalColor hoverBackDarkSignalColor" href="./product-group/create"></a>
            </div>
        </div><div id="managementOutputBox" class="lp18">
            <EditForm Model="productGroup" OnValidSubmit="Save" OnInvalidSubmit="Error">
                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <b class="dangerColor">@errorMessage</b>
                    <br /><br />
                }

                @if (isEdit)
                {
                    <div class="bm9">@productGroup.ProductGroupNr</div>
                }
                else
                {
                    <input class="bm5" type="text" placeholder="Product-Group Nr" value="@nextPK" readonly required/><br />
                }

                @if (!isEdit)
                {
                    <div>
                        Company:
                    </div>
                    <select class="bm5" @onchange="@((e) => ChangeAssignedCompany(e))">
                        @foreach (var _company in companies)
                        {
                            <option value="@_company.CompCode">@_company.CompCode.Substring(0, 2) - @_company.CompName</option>
                        }
                    </select><br />
                }

                <input class="bm5" type="text" placeholder="Name" maxlength="150" @bind="productGroup.GroupName" required><br>
                <div>
                    Sort-Nr.:
                </div>
                <input class="bm5" type="number" min="1" placeholder="Sort-Nr" @bind="productGroup.SortNr" required><br>

                @if (categories != null)
                {
                    <div>
                        Category:
                    </div>
                    <select class="bm5" @onchange="@((e) => ChangeCategory(e))">
                        @foreach (var _category in categories)
                        {
                            @if (isEdit && _category.CategoryId == productGroup.CategoryId)
                            {
                                <option value="@_category.CategoryId" selected>
                                    @_category.CategoryName
                                </option>
                            }
                            else
                            {
                                <option value="@_category.CategoryId">
                                    @_category.CategoryName
                                </option>
                            }
                        }
                    </select><br />
                }

                @if (formGroups != null)
                {
                    <div>
                        Parent-Element:
                    </div>
                    <select class="bm5" @onchange="@((e) => ChangeParentElem(e))">
                        <option value="0">root</option>
                        @foreach (var _prodGroup in formGroups)
                        {
                            @if (isEdit && productGroup.ParentId != null && _prodGroup.ProductGroupNr == productGroup.ParentId)
                            {
                                <option value="@_prodGroup.ProductGroupNr" selected>@_prodGroup.GroupName</option>
                            }
                            else
                            {
                                <option value="@_prodGroup.ProductGroupNr">@_prodGroup.GroupName</option>
                            }
                        }
                    </select><br />
                }

                <textarea placeholder="Description" maxlength="700" @bind="productGroup.GroupDescription"></textarea>
                <br><br>

                @if (isEdit)
                {
                    @if (!string.IsNullOrEmpty(fileUploadMessage))
                    {
                        <b>@fileUploadMessage</b><br />
                    }

                    @if (fileExists)
                    {
                        <a class="fileContent bm9" href="javascript:LightFrame('@filePicPath', '100%', '450px', '650px', '80vh', false);" style="background-image: url('@filePicPath');"></a>
                    }
                    else
                    {
                        <div class="fileContent bm9 iconNoPic"></div>
                    }
                    <div class="dib vt rm9 bm5">
                        <InputFile id="fileUpload" class="rm5 bm5" accept="image/jpeg, image/jpg" OnChange="StoreFile"></InputFile><label class="dib vm vp5 hp9 backSignalColor hoverBackDarkSignalColor clearColor pointer bold" for="fileUpload">Choose file</label>
                    </div><input class="mIcon iconSave backSignalColor hoverBackDarkSignalColor rm9" type="button" @onclick="@(() => UploadFile())"><input class="mIcon iconDelete backDangerColor hoverBackDarkDangerColor" type="button" value="" @onclick="@(() => DeleteFile())">
                    <br><br><br>
                }


                <a class="show650 mIcon iconNew backSignalColor hoverBackDarkSignalColor rm18" href="./product-group/create"></a><input class="mIcon iconSave backSignalColor hoverBackDarkSignalColor rm9" type="submit" value="">
                @if (isEdit)
                {
                    <input class="mIcon iconDelete backDangerColor hoverBackDarkDangerColor" type="button" value="" @onclick="@(() => Delete())">
                }
            </EditForm>
        </div>
    }
    else
    {
        <div>
            No companies were found.<br>
            Please click <a class="bold primaryColor" href="./company/create">here</a> to create a new company before proceeding.
        </div>
    }
}
else
{
    <span>
        Loading ...
    </span>
}